.first {
    display: inline-block;
    background-color: orange;
    height: 100%;
    width: 49%;
    text-align: left;
}

.second {
    display: inline-block;
    background-color: yellow;
    height: 100%;
    width: 100%;
    text-align: left;
}

.third {
    display: inline-block;
    background-color: blue;
    height: 94%;
    width: 31%;
    text-align: left;
    margin-left: 0.5%;
}

.fourth {
    display: inline-block;
    background-color: gray;
    height: 100%;
    width: 23%;
    text-align: left;
}

.firstRow {
    margin-top: 1%;
    height: 20%;
    width: 100%;
}

.secondRow {
    margin-top: 1%;
    height: 29%;
    width: 100%;
}

.thirdRow {
    margin-top: 1%;
    margin-left: 2%;
    height: 21%;
    width: 100%;
}

.fourthRow {
    margin-top: 1%;
    height: 20%;

}

.firstRow,
.secondRow,
.thirdrow,
.fourthRow {
    width: 100%;
    padding: 2px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    Overflow-y: hidden;
}

.blockLayout {
    width: 100%;
    height: 100%;
}

.firstRow:after,
.secondRow:after,
.thirdRow:after,
.fourthRow:after {
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}