.first {
    display: block;
    background-color: orange;
    height: 10vh;
    width: 49%;
    float: left;
    margin: -0.7vh 0vh 4vh 2vh;
}

.second {
    display: block;
    background-color: yellow;
    height: 30vh;
    width: 99%;
    float: left;
    margin: -0.7vh 0vh 0vh 2vh;
}

.third {
    display: block;
    background-color: blue;
    height: 25vh;
    width: 32.3%;
    float: left;
    margin: 4vh 0vh 0vh 2vh;
}

.fourth {
    display: block;
    background-color: gray;
    height: 18vh;
    width: 24%;
    float: left;
    margin: 4vh 0vh 0vh 2vh;
}
