.first {
    display: block;
    background-color: red;
    height: 40vh;
    width: 40vh;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
}

.second {
    display: block;
    background-color: green;
    height: 40vh;
    width: 40vh;
    margin-left: 80px;
    top: -20px;
    z-index: 2;
}

.third {
    display: block;
    background-color: blue;
    height: 30vh;
    width: 40vh;
}
