.first {
    display: block;
    background-color: red;
    height: 40vh;
    width: 40vh;
    top: 5vh;
}

.second {
    display: block;
    background-color: green;
    height: 40vh;
    width: 40vh;
    top: 20vh;
    left: 15vh;
}

.third {
    display: block;
    background-color: blue;
    height: 40vh;
    width: 40vh; 
    top: 35vh;
    left: 30vh;
}

div {
    position: fixed;
}
